<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>后台系统</title>

    <script type="text/javascript" th:src="@{/js/jquery-1.11.0.min.js}"></script>
    <script type="text/javascript" th:src="@{/easyui/jquery.easyui.min.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/easyui/themes/icon.css}" >
    <script type="text/javascript" th:src="@{/easyui/locale/easyui-lang-zh_CN.js}"></script>
    <link rel="stylesheet" id="caozuo" type="text/css" th:href="@{/easyui/themes/default/easyui.css}" >

    <script type="text/javascript">
        $(document).ready(function(){
            $("#cc").layout({
                fit:true
            });
        });
        var pathName = window.document.location.pathname;
        var projectName = pathName.substring(0, pathName.substr(1).indexOf('/') + 1);
    </script>
</head>
<body>

<div id="cc" class="easyui-layout">
    <!-- 顶部区域 -->
    <div data-options="region:'north',split:true" style="height:80px;">
        <div id="logo">
            <img  th:src="@{/images/1.png}" style="width: 240px;height:60px;">
        </div>
        <!-- 登录用户信息 -->
        <div id="loginDiv" style="position:absolute;right:60px;top:10px;">
            欢迎你,[超级管理员]
        </div>
        <a th:href="${#request.getContextPath()}
 + '/logout'" style="position:absolute;right:10px;top:10px;">
           退出登录
        </a>
        <div id="themesDiv" style="position:absolute;right:20px;top:40px;">
            <a href="javascript:void(0)" id="mb" class="easyui-menubutton"
               data-options="menu:'#mm',iconCls:'icon-edit'">切换风格</a>

            <div id="mm" style="width:150px;">
                <div>default</div>
                <div>gray</div>
                <div>black</div>
                <div>bootstrap</div>
                <div>material</div>
                <div>metro</div>

            </div>
        </div>

    </div>
    <!-- 版权信息 -->
    <div data-options="region:'south',split:true" style="height:40px;">
        <div id="copyRight" align="center">
            <div style="width:300px;margin:0 auto; padding:10px 0;">
                <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=33090202000422" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img th:src="@{/images/batb.png}" style="float:left;"/><p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">浙公网安备 33090202000422号</p></a>
            </div>
        </div>
    </div>
    <!-- 系统菜单 -->
    <div data-options="region:'west',title:'系统菜单',split:true" style="width:200px;">
        <div id="aa" class="easyui-accordion" style="width:190px;" data-options="border:0,multiple:true">
            <div title="网站管理" data-options="iconCls:'icon-save'"style="overflow:auto;padding:10px;">
                <ul>
                    <li><a href="javascript:void(0)" pageUrl="/tospecial">特色文化区</a></li>
                    <li><a href="javascript:void(0)" pageUrl="/tonot">非遗专区</a></li>
                    <li><a href="javascript:void(0)" pageUrl="/toboke">博客分享</a></li>
                    <li><a href="javascript:void(0)" pageUrl="/tohref">友情推荐</a></li>
                    <li><a href="javascript:void(0)" pageUrl="/tousers">用户管理</a></li>
                    <li><a href="javascript:void(0)" pageUrl="/tongji">数据统计</a></li>
                </ul>

            </div>
            <div title="资源管理" data-options="iconCls:'icon-reload',selected:true"
                 style="padding:10px;">
                <ul>
                    <li><a href="javascript:void(0)" pageUrl="/toimage">管理静态资源</a></li>
                    <li><a href="javascript:void(0)" pageUrl="/tohref">管理友情链接</a></li>

                </ul>
            </div>
        </div>
    </div>
    <!-- 编辑区域 -->
    <div data-options="region:'center'" style="padding:5px;background:#eee;">
        <div id="tt" class="easyui-tabs" style="width:500px;height:250px;" data-options="fit:true">
            <div title="欢迎" style="padding:20px;display:none;">
                欢迎登录后台管理系统
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="path" th:name="${#request.getContextPath()}">
</body>
<script type="text/javascript">
    $(function(){
       var projectName = $("#path").attr("name");
        $("a[pageUrl]"). click(function(){
            var pageUrl = $(this).attr("pageUrl");
            var title = $(this).text();
            //判断是否存在指定标题的选项卡
            if($("#tt").tabs("exists",title)){
                $("#tt").tabs("select",title);
            }else{
                $("#tt").tabs("add",{
                    title:title,
                    content:"<iframe src='"+projectName +pageUrl+"' width='100%' height='100%' frameborder='0'><iframe>",
                    closable:true
                });
            }
        });

        $("#mm").menu({
            onClick:function(item){
                var text = item.text;
                var href = $("#caozuo").attr("href");
                href = href.substring(0,href.indexOf("themes")) + "themes/" + text +"/easyui.css";
                $("#caozuo").attr("href",href);
            }
        });
    });
</script>
</html>