<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>修改用户</title>
</head>

<script type="text/javascript" th:src="@{/js/jquery-1.11.0.min.js}"></script>
<script type="text/javascript" th:src="@{/easyui/jquery.easyui.min.js}"></script>
<link rel="stylesheet" type="text/css" th:href="@{/easyui/themes/icon.css}" >
<script type="text/javascript" th:src="@{/easyui/locale/easyui-lang-zh_CN.js}"></script>
<link rel="stylesheet" id="caozuo" type="text/css" th:href="@{/easyui/themes/default/easyui.css}" >
<body>


<table id="list"></table>

<!-- 工具条 -->
<div id="toolbar">
    <a id="saveBtn" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-save'">添加</a>
    <a id="editBtn" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-edit'">修改</a>
    <a id="deleteBtn" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-remove'">删除</a>
</div>

<!-- 编辑窗口 -->
<div id="editWin" class="easyui-window" data-options="title:'栏目添加窗口',width:400,height:300,closed:true">
    <form id="editForm" method="post">


        <table>
            <input type="hidden" name="id"/>


            <tr>
                <td>用户名</td>
                <td><input type="text" name="username" class="easyui-validatebox" data-options="required:true"/></td>
            </tr>
            <tr>
                <td>密码</td>
                <td><input type="text" name="password" class="easyui-validatebox" data-options="required:true"/></td>
            </tr>
            <tr>
                <td>个性签名</td>
                <td><input type="text" name="gxqm" class="easyui-validatebox" data-options="required:true"/></td>
            </tr>

            <tr>
                <td>权限</td>
                <td><input type="text" name="perms" class="easyui-validatebox" data-options="required:true"/></td>
            </tr>
            <tr>
                <td>头像地址</td>
                <td><input type="text" name="logopath" class="easyui-validatebox" data-options="required:true"/></td>
            </tr>
            <tr>
                <td>
                    <a id="save" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-save'">保存</a>
                    <a id="reset" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-save'">重置</a>
                </td>
            </tr>
        </table>
    </form>
</div>

<input type="hidden" id="path" th:name="${#request.getContextPath()}">


</body>
<script type="text/javascript" language="JavaScript" th:inline="none">

    $(function(){
       var projectName = $("#path").attr("name");
        $("#list").datagrid({
            url:projectName + "/user",
            columns:[[
                {field:"id",title:"用户id",width:50},
                {field:"username",title:"用户名",width:100},
                {field:"gxqm",title:"个性签名",width:100},
                {field:"likelist",title:"点赞列表",width:100},
                {field:"perms",title:"权限",width:100},
                {field:"logopath",title:"头像地址",width:100},

            ]],

            pagination:true,
            //工具条件
            toolbar:"#toolbar"
        });

        //保存商品
        $("#save").click(function(){

            $("#editForm").form("submit",{
                url:projectName+"/saveuser",
                onSubmit:function(){
                    //表单验证
                    return $("#editForm").form("validate");
                },
                success:function(data){
                    data = eval("("+data+")");
                    if(data.success){

                        //1.表单清空
                        $("#editForm").form("clear");
                        //2.关闭窗口
                        $("#editWin").window("close");
                        //3.刷新datagrid
                        $("#list").datagrid("reload");

                        $.messager.show({
                            title:"提示",
                            msg:"保存成功"
                        });
                    }else{
                        $.messager.alert("提示","保存失败:"+data.msg,"error");
                    }
                }
            });


        });

        //点击添加按钮，弹出编辑窗口
        $("#saveBtn").click(function(){
            //打开窗口
            $("#editForm")[0].reset();
            $("#id").val('');
            $("#editForm").form("clear");
            $("#editWin").window("open");
        });

        //修改商品 -- 回显商品信息
        $("#editBtn").click(function(){

            //1.获取选择的商品
            var rows = $("#list").datagrid("getSelections");

            //判断一次只能搞一个
            if(rows.length!=1){
                $.messager.alert("提示","一次只能选择一行","warning");
                return;
            }

            var row = rows[0];


            $("#editForm").form("load",projectName+ "/getuser?id="+row.id);

            $("#editWin").window("open");
        });


        $("#reset").click(function () {
            $("#editForm")[0].reset();
        })



        //删除商品
        $("#deleteBtn").click(function(){
            //1.获取选择的商品
            var rows = $("#list").datagrid("getSelections");

            if(rows.length==0){
                $.messager.alert("提示","至少选择一个商品","warning");
                return;
            }

            //2.获取商品的id 格式： 字符串  1,2,3
            var ids = new Array();
            $(rows).each(function(i){
                ids.push(rows[i].id);
            });

            ids = ids.join(",");

            //3.发送商品id到后台进行删除
            $.post(projectName + "/deleteuser",{"ids":ids},function(data){
                if(data.success){
                    //刷新datagrid
                    $("#list").datagrid("reload");
                    //提示
                    $.messager.show({
                        title:"提示",
                        msg:"删除成功"
                    });
                }else{
                    $.messager.alert("提示","删除失败:"+data.msg,"error");
                }
            },"json");

        });
    });
</script>

</html>